{% load django_jqgrid_extras %}
<!DOCTYPE html>
<html>
<head>
    <title>testing django-jqgrid</title>

    <script src="/static/js/jquery-2.0.3.min.js"></script>

    <link href="/static/js/ui/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css" />
    <link href="/static/js/jqgrid/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jqgrid/grid.locale-en.js"></script>
    <script type="text/javascript" src="/static/js/jqgrid/jquery.jqGrid.min.js"></script>

</head>
<body>

<table id="{{ jqgrid_table_id }}"></table> <div id="{{ jqgrid_div_id }}"></div>
    {% csrf_token %}
	<script>
        jQuery("#{{ jqgrid_table_id }}").jqGrid({ url:'{{ jqgrid_url }}', datatype: "{{ jqgrid_datatype }}",

            colNames: [
                {% for col in jqgrid_colnames %}
                    "{{ col }}",
                {% endfor %}
            ],
            colModel: [
                {% for col in jqgrid_colmodel %}
                    {{ col|adjust_jqgrid_colmodel|safe }},
                {% endfor %}

            ],

            rowNum:20, rowList:[10,20,30,50,100],
            pager: '#{{ jqgrid_div_id }}',
            sortname: 'id',
            viewrecords: true,
            sortorder: "desc",
            caption:"{{ jqgrid_caption }}",
            height: 370,
            width: 1500,

            editurl:"{{ jqgrid_edit_url }}",
        });

        jQuery("#{{ jqgrid_table_id }}").jqGrid('navGrid','#{{ jqgrid_div_id }}', {edit:true, view:true, add:true, del:true},
        {width: 600, height: 500,
            beforeSubmit: function(postdata) {
                // you should modify the next line to get the CSRF tocken
                // in any way (for example $('meta[name=csrf]').attr('content')
                // if you have <meta name="csrf" content="abcdefjklmnopqrstuvwxyz="/>)
                var csrf_token = $('input[name=csrfmiddlewaretoken]').attr('value'); // any way to get
                postdata['csrfmiddlewaretoken']= csrf_token;

                return [true, ''];
            },
        },
        {width: 600, height: 500,
            beforeSubmit: function(postdata) {
                // you should modify the next line to get the CSRF tocken
                // in any way (for example $('meta[name=csrf]').attr('content')
                // if you have <meta name="csrf" content="abcdefjklmnopqrstuvwxyz="/>)
                var csrf_token = $('input[name=csrfmiddlewaretoken]').attr('value'); // any way to get
                postdata['csrfmiddlewaretoken']= csrf_token;

                return [true, ''];
            },
        },
        {width: 600, height: 500,
            onclickSubmit: function(rowid){
                var val = $('input[name=csrfmiddlewaretoken]').attr('value');
                return {csrfmiddlewaretoken:val};
            },
        },
        {width: 600, height: 500,
            beforeSubmit: function(postdata) {
                // you should modify the next line to get the CSRF tocken
                // in any way (for example $('meta[name=csrf]').attr('content')
                // if you have <meta name="csrf" content="abcdefjklmnopqrstuvwxyz="/>)
                var csrf_token = $('input[name=csrfmiddlewaretoken]').attr('value'); // any way to get
                postdata['csrfmiddlewaretoken']= csrf_token;

                return [true, ''];
            },
        }
        );

    </script>

</body>
</html>